<!DOCTYPE html>
<html>
  <head>
    <title>COS Puppy Adoption - Puppy Details</title>
  </head>
  <body>
    <h1>Your Future Puppy</h1>
    <form>
      <p>Puppy Name:</p>
      <p><%= @info[:name] %></p>
      <p>Breed:</p>
      <p><%= @info[:breed] %></p>
      <p>Age:</p>
      <p><%= @info[:age] %></p>
    </form>
  </body>
</html>